.logo {
    position: relative;
    width: 400px;
    height:42px;
}

.box2 {
    font-size: 0.8rem;
    width: 200px;
    height: 42px;
    overflow: hidden;
}

.box {
    width: 200px;
    height: 42px;
    overflow: hidden;
}

.box img {
    width: auto;
    height: 42px;
    float: right;
}

